Source: libaddr
Priority: extra
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: cmake,
    cppthread-dev (>= 1.1.12.1~jammy),
    debhelper-compat (= 13),
    doxygen,
    graphviz,
    libadvgetopt-dev (>= 2.0.4.0~jammy),
    libexcept-dev (>= 1.1.4.0~jammy),
    libutf8-dev (>= 1.0.6.0~jammy),
    snapcatch2 (>= 2.9.1.0~jammy),
    snapcmakemodules (>= 1.0.35.3~jammy),
    snapdev (>= 1.1.20.0~jammy)
Standards-Version: 3.9.4
Section: libs
Homepage: https://snapwebsites.org/project/libaddr
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/libaddr

Package: libaddr
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ library to convert IP addresses.
 Runtime library of the libaddr project.
 .
 This library is used by C++ applications to convert IP addresses between
 text notations and binary and vice versa. It supports IPv4 and IPv6, port
 notation, port range, multi-ports, and CIDR masks.

Package: libaddr-dev
Architecture: any
Section: libdevel
Depends: libaddr (= ${binary:Version}), ${misc:Depends}
Description: C++ library to convert IP addresses.
 Development library of the libaddr project.
 .
 This library is used by C++ applications to convert IP addresses between
 text notations and binary and vice versa. It supports IPv4 and IPv6, port
 notation, port range, multi-ports, and CIDR masks.

Package: libaddr-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: C++ library to convert IP addresses.
 Documentation of the libaddr project.
 .
 This library is used by C++ applications to convert IP addresses between
 text notations and binary and vice versa. It supports IPv4 and IPv6, port
 notation, port range, multi-ports, and CIDR masks.

# vim: ts=4 sw=4 et
